<h3>{{ question.text }}</h3>
<mat-radio-group [(ngModel)]="selectedAnswer" class="radio-group">
  <mat-radio-button
    class="radio-button"
    *ngFor="let answer of question.options"
    [value]="answer"
    [disabled]="isSelected"
    >{{ answer }}</mat-radio-button
  >
</mat-radio-group>
<button *ngIf="!isSelected" (click)="checkAnswer()">Check</button>
<div
  *ngIf="isSelected"
  [ngClass]="{ correct: isCorrect, incorrect: !isCorrect }"
>
  {{ selectedAnswer }} is {{ isCorrect ? "Correct!" : "Incorrect." }}
</div>
